body {
		text-align: justify;
}
#cv {
	font-family: Arial;
	font-size: 55px;
	font-weight: 200;
}

.info {
	font-family: seriff;
	font-size: 20px;
	font-weight:100;
	margin-left:11%;
}

.line {
	font-weight: 100;
	margin-left:11%;
}

.mcs {
	font-size: 20px;
	font-weight: 200;
	margin-left:11%;
}

h2 {
	margin-left:11%;
}

h3 {
	margin-left:18%;
}

#all {
	font-weight: 200;
	margin-left:20%;
}

table {
	font-weight: 200;
	width:65%;
    /*margin-left:20%; 
    margin-right:15%;*/
	margin-right: auto;
    margin-left: 222px;
}

table, th {
	text-align: center;
}

th,td {
	padding: 5px;
	font-size: 20px;
}

.ts {
	margin-left:16%;
}

.str{
	font-weight: 200;
	margin-left:16%;
}

.pi{
	margin-left:16%;
}

.desc {
	margin-left:20%
}

#last {
	margin-left:11%;
}
