.navbar-fixed-top {
    min-height: 65px;
}

.food-bar {
	margin-top: 5px;
}

.food-sec {
	width:105%
}

.input-text {
	margin-left: 7px;
	margin-top:5px;
	width:97%
}

.btn-soup {
	margin-left: 7px;
	margin-top: 15px;
	width:97%
}

.btn-start, .btn-chinese {
	margin-top: 0px;
	margin-left: 7px;
	width:97%
}

.cust-info{
	margin-top: 5px;
	margin-left: -30px;
	width:95%
	min-height: 40px;
	margin-right: 27px;
}

 .cust-form{
	margin-top: 0px;
	margin-left: -31px;
	height: 154px;
	margin-right: 28px;
 }

.c-name {
	margin-top: 5px;
	margin-left: 6px;
}

.c-number {
	margin-top: 5px;
	margin-left: -6px;
}

.c-email {
	margin-top: 15px;
	margin-left: 6px;
}

.c-address {
	margin-top: 15px;
	margin-left: -6px;
}


.bill-info{
	margin-top: 0px;
    margin-left: -45px;
    width: 227%;
}

.bill-row1, .bill-row2 {
	margin-left: -45px;
	width: 227%;
}

table{
	font-size: 12px;
	margin-top: 0px;
	margin-left: -15px;
}

.table-sec {
	margin-left: -30px;
	height: 46px;
}

.save-print-bar {
	margin-left: -30px;
	width: 106%;
}

.save-print {
	margin-left: -15px;
	width: 33.6rem;
	height: 34px;
}

.btn-kot {
	background-color: black;
	padding: 1px;
	margin-top: -9px;
	margin-left: -11px;
	margin-right: 12px;
}

.btn-print {
	background-color: black;
	padding: 1px;
	margin-left: 2px;
	margin-left: -11px;
	margin-top: -9px;
}

.btn-close {
	background-color: black;
	padding: 1px;
	margin-top: -9px;
	margin-left: 346px;
	margin-right: 10px;
}

.btn-save {
	background-color: black;
	padding: 1px;
	margin-top: -9px;
}